html{
	height:100%;
	weight:100%;
}
body{
	background-color:#FFFFFF;
	height:100%;
	weight:100%;
}
h1{
	text-align:center;
}

#header{
	height:10%;	
	weight:100%;
}
#body{
	height:90%;
	weight:100%;
}
#criteria{
	height:100%;
	width:33%;
	float:left;
	border-color:#FF0000;
	border-style:solid;
	text-align:center;
	border-radius:10px;
	
}
#result{
	height:100%;
	width:63%;
	margin-left:1%;
	float:left;
	border-color:#FF0000;
	border-style:solid;
	border-radius:10px;
}
.attdesc{
	margin-left:5%;
	margin-top:2%;
	margin-bottom:2%;
	width:100%;
	float:left;
	text-align:left;
}

.attribute{
	width:90%;
	border-color:#FF0000;
	border-style:solid;
	float:left;
	margin-top:15px;
	margin-left:15px;
	border-radius:10px;
}
#submit{
	clear:both;
	margin-top:15px;
	text-align:center;
	border-radius:10px;
	width:150px;
	height:50px;
	background-color:#FF0000;
	color:#FFFFFF;
}
#slider { width: 100%; height: 100%; }

.select{
	width: 100%;
	
}
.description{
	width:50%;
	float:right;
}
.image{
	width:50%;
	float:left;
}
.divselect{
	margin-top:2%;
	margin-bottom:2%;
	margin-left:5%;
	width:90%;
	position:relative;
	
} 
.message{
	margin-top:25%;
	text-align:center;
}
