html{
	height:100%;
	weight:100%;
}
body{
	height:100%;
	weight:100%;
}
h3{
	text-align:center;
}

#header{
	height:10%;	
	weight:100%;
}
#body{
	height:90%;
	weight:100%;
}
#criteria{
	height:100%;
	width:48%;
	float:left;
	text-align:center;
}
#result{
	height:100%;
	width:48%;
	float:left;

}
.attdesc{
	width:50%;
	float:left;
	text-align:left;
}
.select{
	width:50%;
}
.attribute{
	width:100%;
	margin-bottom:2%;
	float:left;
}
#submit{
	clear:both;
	margin-top:15px;
	text-align:center;

}
#slider { width: 100%; height: 100%; }


.description{
	width:50%;
	float:right;
}
.image{
	width:50%;
	float:left;
}
.message{
	margin-top:25%;
	text-align:center;
}
