html{
	background:white;
	width:100%;
	min-width:700px;
	height:100%;
	font: 18px arial,sans-serif;
}

div {
	position:static;
	margin:0px;
	padding:0px;
	font: 15px arial,sans-serif;
}

#header{
	background: none repeat scroll 0 0 #F5F5F5;
	height:100px;
	margin-bottom:1px;
	border-bottom: 1px solid #E5E5E5;
}

#lateral{
	background: white;
	float:left;
	top:50px;
	left:0px;
	width:48%;
	color:#333333;
}

#select {
	border-right-style:solid;
	border-bottom-style:solid;
	border-width:1px;
	border-color:#E0E0E0;
	padding:5px;
	margin-top:5px;
	margin-right:5px;
}

#criteria {
	border-right-style:solid;
	border-bottom-style:solid;
	border-width:1px;
	border-color:#E0E0E0;
	padding:5px;
	margin-top:5px;
	margin-right:5px;
}

#envio {
	border-right-style:solid;
	border-bottom-style:solid;
	border-width:1px;
	border-color:#E0E0E0;
	padding:5px;
	margin-top:5px;
	margin-right:5px;
}

#result {
	display:inline;
	float:left;
	padding:2px;
}

.attribute{
}

.attdesc{
}

.select{
}

#submit{
	clear:both;
	margin-top:15px;
	text-align:center;

}

#slider { width: 100%; height: 100%; }


.description{
	width:50%;
	float:right;
}
.image{
	width:50%;
	float:left;
}
.message{
	margin-top:25%;
	text-align:center;
}

select {
	background: transparent;
	font-size: 12px;
	border: 1px solid #999999;
}
